{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKHUFEEDS 사용자 설정</title>

    <!-- Load CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "settings/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "settings/css/skhufeeds.css" %}"/>
  </head>
  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">SKHUFEEDS 사용자 설정</a>
    </nav>
    <!-- Content -->
    <div class="container" id="container">
      <div class="row">
        {% for item in all %}
        <form action="/settings/toggle_subscription" method="post">
          <div class="col col-lg-2">
            <div class="card sub_item" style="width: 20rem;">
              <!-- Subscribable Card -->
              <div class="card-body">
                <h4 class="card-title">{{ item.name }}</h4>
                <p class="card-text">{{ item.desc }}</p>
                {% csrf_token %}
                <input type="hidden" name="source_id" value="{{ item.id }}" />
                {% if item in subscribed %}
                <input type="hidden" name="is_subscribed" value="true" />
                <button type="submit" class="btn btn-danger">구독해제</button>
                {% else %}
                <input type="hidden" name="is_subscribed" value="false" />
                <button type="submit" class="btn btn-primary">구독하기</button>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
        {% endfor %}
      </div>
    </div>
    <!-- Load JS -->
    <script src="{% static "settings/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "settings/js/popper.min.js" %}"></script>
    <script src="{% static "settings/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
   $(function(){
     {% if alert %}
        //whatever conditions and js code
        alert('{{alert}}');
     {% endif %}
   });
  </script>
  </body>
</html>
